
{% extends 'base.html' %}

{% block content %}
<div class="grid grid-cols-5 pr-12 pl-12">
        <h2 class="col-span-5 text-center text-lg">Solicita email de cambio de password</h2>
        <div class="col-start-2 col-span-3 mt-5">
            <div class="border-l-2 rounded-lg">
                <div class="border-r-2 rounded-lg">
                    {% include 'parts/tailwind_form.html' with form=form button_text='Subir' enctype='enctype="multipart/form-data"' %}
                </div>
            </div>
        </div>
        <div class="col-span-5"><a class="" href="{% url 'automata:upload' %}">Back to file list</a></div>
    </div>
{% endblock %}
