{% extends 'base.html' %}

{% block content %}
    <div class="flex px-5">
        <div class="w-56 border-black border-2 flex flex-col items-center text-center py-5">
            <div class="w-32 h-32 border-2 border-black">
                    profile picture
            </div>
            <div class="mt-5">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            {{ profile.first_name }} {{ profile.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ profile.username }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ profile.email }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ profile.profession }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ profile.genre }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex-grow text-center"> content page</div>
    </div>
{% endblock %}